@model Helperland.Models.ViewModels.ProviderDashboardViewModel;

@{
    ViewData["Title"] = "Service Provider > Upcoming Services";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
@section CustomCss{
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/css/ProviderUpcomingServices.css" />
}



<!-- welcome...  -->
<div onload="Dashboardpage_load()" class="welcome">
    Welcome, @User.Identity.Name!
</div>

<!-- between -->
<div class="between_main_container">
    <div class="between_1st_container" id="open_side_manu_id">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="NewServiceRequest">Dashboard</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="NewServiceRequest">New Service Requests</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data" style="background-color: #146371;"><a asp-controller="Provider" asp-action="UpcomingService">Upcoming Services</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="ServiceSchedule">Service Schedule</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="ServiceHistory">Service History</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="MyRatings">My Ratings</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Provider" asp-action="BlockCustomer">Block Customer</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a href="#">Invoices</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a href="#">Notifications</a></p>
        <hr style="opacity: 0.2;">
    </div>
    <div class="sec_main_container">
        <div class="between_2nd_container_upper_header">
            <p>Upcoming Service</p>
        </div>
        <div class="responsive_filter" id="responsive_filter_id" data-bs-toggle="popover" data-bs-custom-class="filter_popover"
             data-bs-placement="bottom" data-bs-html="true" data-bs-content="
                <div class='popover_container'>
                    <label class='form-check-label' for='service_asd'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='service_asd' data-dt-col=0 data-dt-sort='asc'>
                        Service Id: Most Recent
                    </label>
                    <label class='form-check-label' for='service_dec'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='service_dec' data-dt-col=0 data-dt-sort='dec'>
                        Service Id: older
                    </label>
                    <label class='form-check-label' for='provider_asd'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='provider_asd' data-dt-col=1 data-dt-sort='asc'>
                        Service Date: Most Recent
                    </label>
                    <label class='form-check-label' for='provider_dec'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='provider_dec' data-dt-col=1 data-dt-sort='dec'>
                        Service Date: Z to A
                    </label>
                    <label class='form-check-label' for='payment_asc'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='payment_asc' data-dt-col=2 data-dt-sort='asc'>
                        Payment: older
                    </label>
                    <label class='form-check-label' for='payment_dec'>
                        <input class='form-check-input' type='radio' name='flexRadioDefault' id='payment_dec' data-dt-col=2 data-dt-sort='dec'>
                        Payment: high to low
                    </label>
                </div>
                ">
                <img id="responsive_filter_img" src="~/img/filter.png" alt="">

            </div>
        <div class="between_table_header_container">
            <table id="example">
                <thead>
                    <tr>
                        <td class="between_table_header ">Service Id</td>
                        <td class="between_table_header ">Service Date</td>
                        <td class="between_table_header ">Customer Details</td>
                        <td class="between_table_header ">Payment</td>
                        @*<td class="between_table_header ">Distance</td>*@
                        <td class="between_table_header ">Actions</td>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var new_req in ViewBag.current_new_req)
                    {

                        <tr>
                            <td class="between_table_data"><span id="ServiceId" class="hover_for_modalopen" data-bs-toggle="modal" data-bs-target="#servicedetail_@new_req.myServiceId" onclick="for_map_show(@new_req.myServiceId);">@new_req.myServiceId</span></td>
                            <td class="between_table_data">
                                <div class="data_adjust hover_for_modalopen" data-bs-toggle="modal" data-bs-target="#servicedetail_@new_req.myServiceId" onclick="for_map_show(@new_req.myServiceId);">
                                    <img src="~/img/calendar2.png" alt="">
                                    <div><b id="date">@new_req.myservice_start_date</b> </div>
                                </div>
                                <div class="data_adjust hover_for_modalopen" data-bs-toggle="modal" data-bs-target="#servicedetail_@new_req.myServiceId" onclick="for_map_show(@new_req.myServiceId);">
                                    <img src="~/img/layer-14.png" alt="">
                                    <div><span id="start_time">@new_req.myservice_start_time</span> - <span id="end_time">@new_req.myservice_end_time</span></div>
                                </div>
                            </td>
                            <td class="between_table_data">
                                <div class="d-flex align-items-center">
                                    <div><img class="me-1" src="~/img/layer-15.png" alt=""></div>
                                    <div style="text-align: justify;">
                                        <p>@new_req.my_customer_name.FirstName @new_req.my_customer_name.LastName</p>
                                        <p>@new_req.my_customer_address.AddressLine1 @new_req.my_customer_address.AddressLine2 </p>
                                        <p>@new_req.my_customer_address.PostalCode @new_req.my_customer_address.City</p>
                                    </div>
                                </div>
                            </td>
                            <td class="between_table_data">
                                <p class="between_2nd_container_data_service"> <span>@new_req.mypayment</span> €</p>
                            </td>
                            <td class="between_table_data">
                                <div class="d-flex">
                                    @if (@new_req.show_complete_button == "true")
                                    {
                                        <div class="completed_btn">
                                            <input type="button" value="Complete" onclick="completesub(@new_req.myServiceId);">
                                        </div>
                                    }
                                    <div class=" action_button">
                                        <input type="button" value="Cancel" data-bs-toggle="modal" data-bs-target="#cancel_@new_req.myServiceId">
                                        @*onclick="cancel(@user_data.myServiceId)"*@
                                    </div>
                                </div>
                            </td>

                        </tr>


                        <div class="modal fade" id="servicedetail_@new_req.myServiceId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title" id="exampleModalLabel">Service Details</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="first_part_modal col-12 col-lg-6">
                                                <b> <h6><span id="date_modal">@new_req.myservice_start_date</span> <span id="starttime_modal">@new_req.myservice_start_time</span> - <span id="endtime_modal">@new_req.myservice_end_time</span></h6>  </b>
                                                <p> <b>Duration:</b> <span id="duration_modal">@new_req.service_duration</span> Hrs </p>

                                                <hr class="mb-2 mt-2" />

                                                <p> <b>Service Id:</b> <span id="serviceid_modal">@new_req.myServiceId</span></p>
                                                <p> <b>Extras:</b> <span id="extras_modal">@new_req.extras</span> </p>
                                                <p> <b>Net Amount:</b> <span class="service_detail_modal_amount"> <span id="amount_modal">@new_req.mypayment</span> $ </span>  </p>
                                                <hr class="mb-2 mt-2" />

                                                <p> <b>Customer Name:</b> <span id="address_modal">@new_req.my_customer_name.FirstName @new_req.my_customer_name.LastName</span></p>
                                                <p> <b>Service Address:</b> <span id="address_modal">@new_req.my_customer_address.AddressLine1 @new_req.my_customer_address.AddressLine2 @new_req.my_customer_address.PostalCode @new_req.my_customer_address.City</span></p>
                                                <hr class="mb-2 mt-2" />

                                                <p> <b>Comments</b> </p>
                                                @if (@new_req.pet)
                                                {
                                                    <p> <img id="for_pet_img" src="~/img/success_tick.png" alt="" style="width: 25px"><span id="pet"> I Have pets at home</span> </p>

                                                }
                                                else
                                                {
                                                    <p> <img id="for_pet_img" src="~/img/not-included.png" alt="" style="width: 25px"><span id="pet"> I don't Have pets at home</span> </p>
                                                }
                                                <hr class="mb-2 mt-2" />

                                                <div class="d-flex">
                                                    @if (@new_req.show_complete_button == "true")
                                                    {
                                                        <button class="detail_modal_reschedule" onclick="complete_req(@new_req.myServiceId);">
                                                            <img src="~/img/ic-check.png" alt="">
                                                            <a class="mx-1" data-bs-dismiss="modal" value="Complete">Complete</a>
                                                            <form>
                                                                <input class="d-none" asp-for="ServiceId" value="@new_req.myServiceId" id="service_@new_req.myServiceId">
                                                            </form>
                                                        </button>
                                                    }
                                                    <button class="cancel_modal" style="padding: 6px 9px;">
                                                        <img src="~/img/close-icon-small.png" alt="">
                                                        <a class="mx-1" data-bs-dismiss="modal" value="Cancel" data-bs-toggle="modal" data-bs-target="#cancel_@new_req.myServiceId">Cancel</a>
                                                    </button>
                                                </div>
                                            </div>
                                            <input class="d-none" type="text" value="@new_req.my_customer_address.PostalCode" id="mappostal_@new_req.myServiceId" />
                                            <div class="second_part_modal col-12 col-lg-6"  id="second_part_modal_@new_req.myServiceId">
                                                put open street map here
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="cancel_@new_req.myServiceId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><b>Cancel Service Request</b></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Why you wany to cancel the service request?
                                        <form>
                                            <div class="mb-2">
                                                <input asp-for="ServiceId" id="sid_@new_req.myServiceId" value="@new_req.myServiceId" class="d-none">
                                                <textarea asp-for="comment" id="cmt_@new_req.myServiceId" class="cancel_textarea" rows="3"></textarea>
                                            </div>
                                            <button type="submit" onclick="cancelsub(@new_req.myServiceId);" class="Reschedule_modal mt-2">Cancel Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script src="~/js/ProviderUpcomingServices.js"></script>
}