
@{
    ViewData["Title"] = "Customer > FavouritePros";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@section CustomCss{
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/css/CustomerFavouritePros.css" />
}


<!-- welcome...  -->
<div onload="Dashboardpage_load()" class="welcome">
    Welcome, @User.Identity.Name!
</div>

<!-- between -->
<div class="between_main_container">
    <div class="between_1st_container" id="open_side_manu_id">
        <p class="between_1st_container_data"><a asp-controller="Customer" asp-action="CustomerDashboard">Dashboard</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a asp-controller="Customer" asp-action="CustomerServiceHistory">Service History</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a href="#">Service Schedule</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data" style="background-color: #146371;"><a asp-controller="Customer" asp-action="CustomerFavouritePros">Favourite Pros</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a href="#">Invoices</a></p>
        <hr style="opacity: 0.2;">
        <p class="between_1st_container_data"><a href="#">Notifications</a></p>
        <hr style="opacity: 0.2;">
    </div>
    <div class="sec_main_container">
        <div class="between_table_header_container">
            <table id="example" style="width:100%">
                <thead class="d-none">
                    <tr>
                        <td class="between_table_header ">avtar</td>
                        <td class="between_table_header ">name</td>
                        <td class="between_table_header ">rating</td>
                        <td class="between_table_header ">clingngs</td>
                        <td class="between_table_header ">fav-block</td>
                    </tr>

                </thead>
                <tbody class="d-flex flex-wrap ">

                    @foreach (var data in ViewBag.Provider)
                    {
                        <tr class="card text-center me-3 mb-3 " style="width:296px; padding: 12px !important;">
                            <td>
                                @if (@data.avtar != null)
                                {
                                    <h5 class="card-title mb-2"><div><img class="avtar_img" src=@data.avtar alt=""></div></h5>
                                }
                                else
                                {
                                    <h5 class="card-title mb-2"><div><img class="cap_img" src="~/img/cap.png" alt=""></div></h5>
                                }
                            </td>
                            <td><p class="card-text"><b>@data.name</b></p></td>
                            <td>
                                <div class="d-flex justify-content-center me-2">
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        if (i < @data.ratings)
                                        {
                                            <img class="star_imgs" src="~/img/star1.png" alt="">

                                        }
                                        else
                                        {

                                            <img class="star_imgs" src="~/img/star2.png" alt="">
                                        }
                                    }
                                    <span>@Math.Round(@data.ratings,2)</span>
                                </div>
                            </td>
                            <td><span>@data.cleanings</span> <span>Cleanings</span></td>

                            <td>
                                <span class="d-flex justify-content-center">


                                    @if (@data.is_fav == false)
                                    {
                                        <input class="action_button_Add me-1" type="button" id="add_@data.provider_id" onclick="Add_fav(@data.provider_id);" value="Add" />
                                    }
                                    else
                                    {
                                        <input class="action_button_Add me-1" type="button" id="remove_@data.provider_id" onclick="Remove_fav(@data.provider_id);" value="Remove" />
                                    }


                                    @if (@data.is_block == false)
                                    {
                                        <input class="action_button_block" type="button" id="block_@data.provider_id" onclick="block(@data.provider_id);" value="Block" />
                                    }
                                    else
                                    {
                                        <input class="action_button_unblock" type="button" id="unblock_@data.provider_id" onclick="unblock(@data.provider_id);" value="UnBlock" />
                                    }
                                </span>

                            </td>

                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>








@section Scripts{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/js/CustomerFavouritePros.js"></script>
}